{
  "globals": { "Promise": true },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "prettier"]
}
